main {
  background-color: rgba(245, 166, 35, 1);
  color: #FFF;
  padding: 1em;
}

article {
  background-color: #CCC;
  padding: 1em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

p {
  font: bold 1px #FFF
}
h2, h3 {
  display: inline;
  margin-right: 10px; /* 少し余白を入れると見やすい */
}